<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(<%= asset_path 'bgImg/bluebg.jpg' %>);
    background-color: darkblue;
    color: white;
    text-align: center;
    height: 60px;
    opacity: .8;
  }
  .fa {
    padding: 20px;
    font-size: 50px;
    size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
</style>
<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer">

  <div class="align-content-center footerDiv">
    <!-- Add font awesome icons -->
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-pinterest"></a>

  </div>
</div>