<style>
  #header_div{
    padding-left: 0px;
    background-color: aliceblue;
  }
    body{
      margin: 0px;
    }
</style>

<div class="header" id="header_div">
  <div class="row align-items-center">
    <div class="col-9 col-lg-4"></div>
    <div class="col-3 col-lg-8">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="/home/index" id="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/about" id="about">About me(Personal Profile)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/events/myevents/1" id="myevents">My Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/allevents" id="allevents">All Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/contact" id="contact">Contact </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/" id="logout" style="width: 100px">LogOut </a>
    </li>
  </ul>
    </div>
  </div>
</div>
